@model MVCWithLinq1.Models.Student
@{
    ViewBag.Title = "AddStudent";
}


<h2 style="text-align:center;color:red;background-color:cyan;">Add New Student</h2>
@using (Html.BeginForm("AddStudent", "Student",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.LabelFor(s => s.Sid)<br />
        @Html.TextBoxFor(s => s.Sid)

    </div>
    <div>
        @Html.LabelFor(s => s.Name)<br />
        @Html.TextBoxFor(s => s.Name)

    </div>
    <div>
        @Html.LabelFor(s => s.Class)<br />
        @Html.TextBoxFor(s => s.Class)

    </div>
    <div>
        @Html.LabelFor(s => s.Fees)<br />
        @Html.TextBoxFor(s => s.Fees)

    </div>
    <br />
    <div>
        @Html.LabelFor(s => s.Photo)
        <input type="file" name="SelectedFile" />

    </div>
    <br />
    <div>
        <input type="submit" value="Save" />
        <input type="reset" value="Reset" />

    </div>

    @Html.ActionLink("Back to Display Students", "DisplayStudents")

}
